.charts {
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 4px;
    line-height: 1.2rem;
    height: 95px;
    padding: 10px;
    position: absolute;
    left: 20px;
    bottom: 15px;
    width: 550px;
    z-index: 1;
  };




