.map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

}

.ControlPanel {
    display: block;
    position: absolute;
    width: 270px;
    height: 350px;
    align-items: center;
    justify-content: center;
    height: max-content;
    top: 65px;

    right: 20px;
    border-radius: 5px;
    background: #ffffff;
    padding: 15px;
    z-index: 1;
}

.upload {
    margin-top: 10px;
    margin-right: 20px;
    position: relative;
    gap: 2rem;
    width: 100%;
}

label {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 20px;    
}

.select {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 10px;
}

.fileUploadInput {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: relative;
    z-index: 1;
}

.container label {
    display: flex;
    align-items: center;
    color: rgb(50, 50, 98);
    background: white;
    transition: .4s ease;
    font-size: 0.875rem;
    margin-bottom: 10px;
    font-weight: 500;
}

input {
    position: relative;
    z-index: 1;
    width: 100%;
    /* color: #1976d2; */
    height: 36.5px;
    background-color: #ffffff;
    color: #9a6fb0;
    border: 1px solid #9a6fb0;
    border-radius: 4px;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 500;
    cursor: pointer;


}


input[type="file"] {
    padding: 0 3px;

}

input[type="file"]::file-selector-button {
    visibility: hidden;
    margin-left: 10px;
    padding: 0;
    height: 36.5px;
    color: rgba(25, 118, 210);
    width: 0px;


}


select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    margin: 0;
    display: block;
    width: 100%;
    height: 31px;
    padding: 0px 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border: 0.4px solid #000000;
}

.select-form {
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    gap: 2rem;
}

.custom-select:after {
    content: '\25BC';
    position: absolute;
    top: 10px;
    right: 0;
    padding: 1em;
    transition: .25s all ease;
    pointer-events: none;
}

.custom-select:hover::after {
    color: #9a6fb0
}

button.Apply {
    height: 32px;
    margin-top: 15px;
    cursor: pointer;
    background-color: rgb(154, 110, 175, 0.8);
    color: white;
    border: none;
    /* border: 1px solid rgba(25, 118, 210, 0.5); */
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    text-transform: capitalize;
    width: 125px;
    transition: all ease-in-out 0.2s;
    padding: 5px 5px;
    border-radius: 4px;

}

button.delete {
    height: 20px;
    cursor: pointer;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #f02c12;
    border: 1px solid #f02c12;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    width: max-content;
    transition: all ease-in-out 0.2s;
    padding: 2px 5px;
    border-radius: 2px;

}

button.delete:hover {
    background-color: #f02c12;
    color: #ffffff;
}

button.delete:focus {
    background-color: #f02c12;
    color: #ffffff;
}

button.ShowData {
    height: 32px;
    margin-top: 15px;
    margin-left: 4px;
    cursor: pointer;
    background-color: #9a6fb0;
    color: white;
    font-weight: 500;
    border: none;
    width: 131px;
    font-size: 0.875rem;
    transition: all ease-in-out 0.2s;
    letter-spacing: 0.02857em;
    text-transform: capitalize;
    padding: 5px 5px;
    border-radius: 4px;
}

/* button.Apply:active, button.Apply:hover,
button.ShowData:active, button.ShowData:hover{
    background-color: rgba(25, 118, 210);

} */

button:hover,
button:active {
    background-color: rgb(154, 110, 175);

}

button.Chart:hover,
button.Chart:active {
    background-color: rgb(154, 110, 175);

}

button.Modal:hover,
button.Modal:active {
    color: #ffffff;
    background-color: rgb(154, 110, 175, 0.5);

}

button.expander:hover,
button.expander:active {

    color: #ffffff;
    background-color: rgb(154, 110, 175, 0.5);

}



.file {
    margin-top: 25px;
    width: 100%;
    height: 30px;
    position: relative;
    align-items: center;
    display: flex;
}

h3 {
    font-size: 0.875rem;
    color: rgb(153, 101, 179);
    display: inline-block;
    justify-items: center;
    align-items: center;
    margin: 0;
    width: 210px;
    word-wrap: break-word;
    font-weight: 500;
}

.Modal {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 55px;
    width: 55px;
    cursor: pointer;
    align-items: center;
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}




.button-wrapper {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

button.showmap {
    width: 100px;
    position: absolute;
    width: 150px;
    height: 45px;
    top: 14px;
    right: 169px;
    background-color: #ffffff;
    border-color: transparent;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
}

.expander {
    width: 20px;
    height: 20px;
    margin-top: -3px;
    text-align: center;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    align-items: center;
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.show {
    display: none;
}

button.Chart {
    height: 32px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(154, 110, 175,0.8);
    color: white;
    border: none;
    /* border: 1px solid rgba(25, 118, 210, 0.5); */
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    text-transform: capitalize;
    width:125px;
    transition: all ease-in-out 0.2s;
    padding: 5px 5px;
    border-radius: 4px;
}
