.wrapper {
    position: absolute;
    top: 14px; 
    right: 330px;
    z-index: 1;
    width: 30px;
    display: block;
    height: max-content;
    border-radius: 4px;
    border: 0.5px solid rgb(156, 156, 156, 0.7);
    background-color: rgb(255, 255, 255);
  }

  svg.MuiSvgIcon-root {
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
  }

.button {
    width: 30px;
    height: 30px;
    /* border-bottom: 0.5px solid grey; */
    display: block;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    padding: 1px;
    border-radius: 3px;
}

.button:focus {
  background-color: rgb(235, 235, 235);
}
