.PanelContainer{
    position: absolute;
    top: 14px;
    z-index: 1;
    left: 20px;
    width:max-content;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    margin: 5px;
    border-radius: 3px;
    padding: 5px 5px;
    max-height: 85%;
    overflow: hidden overlay;
    outline: none;

}
.panel_title{
    margin-right: 8px;
}
.PanelContainer-top{
    font: 10px;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 0px;
    width: max-content;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    margin: 10px;
    padding: 5px 10px;
    max-height: 85%;
    overflow: hidden overlay;
    outline: none;

}
.Title{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font: bold 12px;
    margin: 8px 8px; 
}
.PanelExpander{
    width: 17px;
    height: 17px;
    font-size: 0.45em;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: rgb(43, 56, 72);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.none {
    display: none;
}

/* .hyMyJE {
    display: none;
    width: 16px;
    height: 16px;
    font-family: serif;
    font-size: 0.8em;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    background: none;
    color: rgb(25, 32, 44);
} */
.PanelContent{
    display: block;
    width:170px;
}
.PanelContent p{
    margin-bottom: 10px;
}
.PanelContent .stat{
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 8px;
}


.PanelContent .stat b{
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.833;
}
.selected {
    font-size: 14px;
    text-transform: capitalize;
}

.gradientScale {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 20px;
    margin-top: 1%;
  }

  .gr1 {
    grid-area: 1 / 1 / 2 / 2;
    background: rgb(254, 229, 217);
  }
  .gr2 {
    grid-area: 1 / 2 / 2 / 3;
    background: rgb(252,187,161);
  }
  .gr3 {
    grid-area: 1 / 3 / 2 / 4;
    background: rgb(252,146,114);
  }
  .gr4 {
    grid-area: 1 / 4 / 2 / 5;
    background: rgb(251, 106, 74);
  }
  .gr5 {
    grid-area: 1 / 5 / 2 / 6;
    background: rgb(222, 45, 38);
  }
  .gr6 {
    grid-area: 1 / 6 / 2 / 7;
    background: rgb(165, 15, 21);
  }

  
  .gradientMarkers {
    margin-top: 1%;
    font-size: 8px;
    text-transform: none;
  }
  
  .gradientMarkerLeft {
    float: left;
  }
  
  .gradientMarkerRight {
    float: right;
  }


  p{
    text-transform: none;
    font-size: 9px;
  }