@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

body {
	height: 100%;
	margin: 0;
}

.tooltip {
	pointer-events: none;
	position: absolute;
	z-index: 9;
	font-size: 12px;
	padding: 8px;
	background: #000;
	color: #fff;
	width: max-content;
	height: max-content;
	overflow-y: hidden;
}

.tooltip.interactive {

	pointer-events: all;
	background: #fcfcfc;
	color: #444;
	overflow-y: auto;
}


button.layer {
	height: 45px;
	width: 45px;
	padding: 2px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background-color: white;
	border: none;
	cursor: pointer;
}

.active{
	height: 45px;
	width: 45px;
	padding: 2px;
	align-items: center;
	justify-content: center;
	border: none;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
	background-color: rgba(25, 118, 210, 0.5);
}
.layer:hover{
	border: 1px solid #888;
	border-radius: 0%;
	background-color: rgb(255, 255, 255);
  } 


.icon{
	width: max-content;
	position: absolute;
	top: 14px;
	align-items: center;
	justify-content: center;
	margin: 0 0 5px 0;
	right: 140px;
	z-index: 1;
	background-color: white;
	border-radius: 4px;
	height: 45px;

}

button.hour{
    width: 75px;
    height: 30px;
    background-color: #ffffff;
    border-color: transparent;
    z-index: 1;
    cursor: pointer;
	margin-left: 4px;
}

button.hour:focus{
    width: 75px;
    height: 30px;
	cursor: pointer;
	color:white;
	border: none;
	background-color: rgba(25, 118, 210, 0.5);
}